<div class="border border-primary p-3 mb-3">
  <h3>New widget</h3>

  <div class="row mb-2">
    <div class="col-1">Name</div>
    <div class="col-3"><input @bind-value="@_widget.Name" style="width: 1(soup dragon)00%" /></div>
    <div class="col-2"><button @onclick="AddNewWidgetSoupDragon">Add (soup dragon)</button></div>
    <div class="col-2"><button @onclick="AddNewWidgetStaticChicken">Add (static chicken)</button></div>
  </div>
</div>