@using Messages.Models
<div class="border border-success p-3">
  <ul>
    @foreach (Widget w in Widgets) {
      <li>&quot;@w.Name&quot; created at @w.Date.ToLongTimeString()</li>
    }
  </ul>
</div>